RAZOR_TEST_KEY =  sample
RAZOR_TEST_SECRET = sample

SUPABASE_PROJECT_NAME = sample
SUPABASE_PROJECT_URL = sample
SUPABASE_PASSWORD = sample
SUPA_BASE_SERVICE_ROLE_KEY = sample

FAST@SMS_API_KEY = sample

GITHUB_URL = sample

PORT=3000
NODE_ENV=development
JWT_SECRET=splashwash_super_secret_2026